.details-page {
  background-color: var(--dark-gray);
  padding: 32px;
  border-radius: 32px;

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  h1 {
    margin-bottom: 32px;
  }

  h2:nth-of-type(2) {
    margin-bottom: 32px;
  }

  p,
  ul {
    font-size: 20px;
    padding-bottom: 8px;
  }

  .padding-bottom-32 {
    padding-bottom: 32px;
  }
}
