.planet {
  div {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  h1 {
    margin-bottom: 32px;
  }

  p {
    font-size: 20px;
    padding-bottom: 8px;
  }

  ul {
    margin-bottom: 8px;
  }

  li {
    font-size: 20px;
  }
}
