body {
  margin: 0;
  background-color: #0e0e0e;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
}

* {
  --yellow: #ffe81f;
  --black: #000000;
  --gray: #565656;
  --dark-gray: #171717;
  --white: #ffffff;
  color: white;
}

.content {
  max-width: 768px;
  margin: auto;
  padding: 0 32px 64px;
}
