.film {
  background-color: var(--dark-gray);
  padding: 32px;
  border-radius: 32px;

  div {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
  }

  h1 {
    margin-bottom: 32px;
  }

  h2:nth-of-type(2) {
    margin-bottom: 32px;
  }

  p {
    margin-bottom: 32px;
  }
}
